# ----------------------------
# Python Ignored Files
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Byte-compiled / cached files
*.cache
*.log

# Virtual environment
venv/
env/
ENV/

# ----------------------------
# Streamlit
# ----------------------------
.streamlit/

# ----------------------------
# Temporary files
# ----------------------------
*.tmp
*.temp
*.swp
*.DS_Store

# Uploaded video temp files
*.mp4
*.avi
*.mov

# ----------------------------
# YOLO / ML models
# ----------------------------
*.pt
runs/

# ----------------------------
# OS Files
# ----------------------------
Thumbs.db

# ----------------------------
# Project-specific
# ----------------------------
alert.mp3   # if you don't want to upload the sound file
temp/
